<launch>
    <!-- Load the urdf into the parameter server. -->
    <node name="standing" pkg="bullet_sims" type="01_standing.py" output="screen"/>
    
    <param name="robot_description" command ="cat $(find talos_description)/robots/talos_reduced_no_hands.urdf" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_pub" >
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bullet_sims)/rviz/t41.rviz" />

    <!-- <node name="t3_marker" pkg="bullet_sims" type="t3_marker.py" output="screen" > -->
    <!-- </node> -->
</launch>